.dashboardLeftContent{
    margin: 0;
    padding: 6rem 0;
}

.dashboardLeftContent .top{
    margin: 0;
    padding: 0;
}

.dashboardLeftContent .top.userAvatar span{
  width: 120px;
  height: 120px;
  font-size: 60px;
  text-align: center;
}

 .top span{
  margin: 0 auto;
  padding: 16px 0 0 0;
  width: 90px;
  height: 90px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  font-size: 40px;
  text-align: center;
  background: #ededed;
  text-transform: capitalize;
}
.dashboardLeftContent .top i img{
    width: 100%;
    max-width: 100%;
}
.dashboardLeftContent .top h3{
    color: #707070;
    font-size: 26px;
    margin: 10px 0 0 0;
    text-align: center;
    font-weight: 600;
}
.dashboardLeftContent .middle{
    margin: 4rem 3rem 5rem 3rem;
}
.dashboardLeftContent .middle h1{
    margin: 0;
    font-size: 4vw;
    text-align: center;
    font-weight: 800;
}
.dashboardLeftContent .middle h1 small{
    margin: 0;
    display: block;
    font-size: 14px;
    color: #707070;
    text-align: center;
    text-transform: uppercase;
}

.dashboardLeftContent .bottom{
    margin: 0;
    padding: 0;
}

.dashboardLeftContent .bottom .circleOut{
    margin: 0;
    padding: 0;
}
.dashboardLeftContent .bottom .circleOut i{
    margin: 0 auto;
    padding: 0;
    width: 7vw;
    height: 7vw;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    background-color: #D8D8D8;
}
.dashboardLeftContent .bottom .circleOut h6{
    text-align: center;
    color: #707070;
    font-size: 1.5vw;
    margin: .5rem 0 0 0;
}


.dashboardRightContent{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

.dashboardRightContent h4{
    margin: 0;
    padding: 3rem 3.7rem;
    font-size: 24px;
    font-weight: 800;
}
.dashboardRightContent .circleOut{
    margin: 0 0 20px 0;
    padding: 0;
}

.dashboardRightContent .circleOut i{
    margin: 0 auto;
    padding: 0;
    width: 90px;
    height: 90px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    background-color: #D8D8D8;
}
.dashboardRightContent .circleOut i.icons{
    background: #fff;
    padding: 1rem;
    font-size: 45px;
    color: #9B9B9B; 
}

.dashboardRightContent .circleOut i img{
    width: 100%;
    max-width: 100%;
}
.dashboardRightContent .circleOut h6{
    text-align: center;
    color: #707070;
    font-size: 16px;
    margin: .5rem 0 0 0;
}
.cussorpointer{
    cursor: pointer;
}

@media(min-width: 320px) and (max-width: 767px){
    .dashboardRightContent .circleOut i {
    width: 50px;
    height: 50px;
    }
    .dashboardRightContent .top span {
      width: 50px;
      height: 50px;
      font-size: 18px;
      padding: 12px 0 0 0;
      font-weight: bold;
      }
      .dashboardRightContent .circleOut {
        padding: 0 10px;
    }
    .dashboardRightContent .circleOut h6 {
    font-size: 12px;
    }
    .dashboardRightContent h4 {
    padding: 40px 0;
    text-align: center;
    }
    .dashboardLeftContent .bottom .circleOut i {
    width: 70px;
    height: 70px;
    }
    .dashboardLeftContent .bottom .circleOut h6 {
    font-size: 16px;
    }
    .dashboardLeftContent .middle h1 {
    font-size: 36px;
    }
    }
